body {font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

h1 {font-family: 'Arvo', serif;
	color: #5a4b3f;
	}

ul {list-style-type: none;}

nav ul {
	line-height: 1.8em;
	font-size: 18px;
}

li a i {color: #201886;
}
ul li > a {color: #87705f;}

h4, h2, h5 {color: #201886;
			font-weight: bold;
}
